.pro-icon-wrapper {
  background-color: transparent !important;
}
.pro-inner-item {
  padding: 5px 35px 5px 20px !important;
}
.pro-inner-item:hover {
  color: #868dfb !important;
}
.pro-menu-item.active {
  color: #6870fa !important;
}
